
# Ignorar archivos y directorios generados por entornos virtuales
venv/
.env

# Ignorar archivos de configuración específicos de desarrollo
*.log
*.sqlite3

# Ignorar archivos de caché y compilación
*.pyc
*.pyo

# Otros archivos y directorios que puedas querer ignorar
.idea/
.vscode/
node_modules/

dist/
build/
*.pdf

# Ignorar caché de Python
__pycache__/
*.py[cod]

# Ignorar archivos temporales de Alembic (si los usas)
alembic/versions/*_backup.sql
alembic/versions/*_diff.log
